<mat-toolbar color="primary">
  <a class="link-light text-decoration-none cursor-pointer" routerLink="/"
    >Angular Router With Monsters</a
  >
  <div class="container d-flex">
    <div class="container d-flex justify-content-around">
      <button
        class="p-2 mx-3"
        mat-button
        color="accent"
        routerLink="/crimes-center"
        routerLinkActive="active"
      >
        Crimes
      </button>
      <button
        class="p-2 mx-3"
        mat-button
        color="accent"
        routerLink="/monsters"
        routerLinkActive="active"
      >
        Monsters
      </button>
      <button
        class="p-2 mx-3"
        mat-button
        color="accent"
        [routerLink]="[{ outlets: { popup: ['compose'] } }]"
      >
        Contact
      </button>
    </div>
    <div class="container w-50 d-flex flex-row-reverse">
      <button class="p-2" mat-button color="accent">Login/LogOut</button>
      <button class="p-2" mat-button color="accent">Admin</button>
    </div>
  </div>
</mat-toolbar>
