<div class="container d-flex flex-column align-items-center">
  <h1 class="mt-3 text-center">monsters</h1>
  <mat-accordion class="my-3">
    <mat-expansion-panel
      *ngFor="let monster of monsters"
      [routerLink]="['/monsters', monster.id]"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ monster.id }}. {{ monster.name }}</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <app-monster-detail [monster]="monster"></app-monster-detail> -->
      <ng-template matExpansionPanelContent>
        <router-outlet></router-outlet>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
